@model SubverseWeb.Models.CMS.CategoryIndexViewModel;
@{
    ViewData["Title"] = "Categories";
}

<section class="section section-lg bg-gray-1 text-center">
    <div class="container container-wide">
        <div class="row row-90">
            <div class="col-lg-12">
                <h2>List of Categories</h2>
            </div>
        </div>
        <div class="row row-90">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-2">
                <ul>
                    @foreach (var cat in Model.Column1)
                    {
                        <li><a href="/category/@cat.UrlStub">@cat.DisplayName</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-2">
                <ul>
                    @foreach (var cat in Model.Column2)
                    {
                        <li><a href="/category/@cat.UrlStub">@cat.DisplayName</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-2">
                <ul>
                    @foreach (var cat in Model.Column3)
                    {
                        <li><a href="/category/@cat.UrlStub">@cat.DisplayName</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-2">
                <ul>
                    @foreach (var cat in Model.Column4)
                    {
                        <li><a href="/category/@cat.UrlStub">@cat.DisplayName</a></li>
                    }
                </ul>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</section>

