@model SCNRWeb.Models.Auth.Admin.ListUsersViewModel
@{
    Layout = "_Manage";
    ViewData["Title"] = "User List";
}

<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">Disabled</th>
            <th scope="col">Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model.UserRecords)
        {
            <tr>
                <th scope="row"><a href="/admin/auth/@(u.UserIDGuid.ToString())">@(u.Public.Data.UserName)</a></th>
                <td>
                    @if (u.Public.DisabledOnUTC != null)
                    {
                        <span style="color: red;">X</span>
                    }
                </td>
                <td>@(string.Join(',', u.Private.Roles))</td>
            </tr>
        }
    </tbody>
</table>