@{
    ViewData["Title"] = "About Us";
}

<section class="section section-lg bg-gray-1 text-center">
    <div class="container container-wide">
        <div class="row row-90">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8" style="text-align: left;">
                <h1>About Us</h1>
                <p>
                    SCNR is a <a href="https://wefunder.com/subverse" target="_blank">community-owned</a> news network by Subverse Inc. focused on investigative reporting, on-the-ground journalism and the free press. We produce a wide-spectrum of shows, podcasts, writing and documentaries on groundbreaking issues from diverse viewpoints.
                </p>
                <p>
                    "Reality is that which, when you stop believing in it, doesn't go away."
                </p>
                <p>
                    Philip K. Dick
                </p>
            </div>
        </div>
    </div>
</section>






