@{
    ViewData["Title"] = "About Us";
}

<div style="padding-top: 40px;">
    <div class="t-contain t-pos:cntr">
        <div class="columns t-pad:10px:lt:xs t-pad:10px:rt:xs t-pad:25pc:lt t-pad:25pc:rt ">
            <div class="t-grid:l:70pc ">
                <h1>About Us</h1>
                <p>
                    SCNR is a <a href="https://wefunder.com/subverse" target="_blank">community-owned</a> news network by Subverse Inc. focused on investigative reporting, on-the-ground journalism and the free press. We produce a wide-spectrum of shows, podcasts, writing and documentaries on groundbreaking issues from diverse viewpoints.
                </p>
                <p>
                    "Reality is that which, when you stop believing in it, doesn't go away."
                </p>
                <p>
                    Philip K. Dick
                </p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>






