@model SCNRWeb.Models.CMS.HomeViewModel
@inject ON.Settings.SettingsClient settings;
@{
    ViewData["Title"] = "Home";
}

<section class="section section-lg bg-gray-1 text-center">
    <div class="container container-wide">
        <div class="row row-90">
            <div class="col-lg-9">
                <div class="row row-40 row-flex">
                    @foreach (var record in Model.PinnedRecords.Take(1))
                    {
                        @await Html.PartialAsync("FeaturedArticle", record)
                    }
                    @foreach (var record in Model.Records)
                    {
                        @await Html.PartialAsync("ContentRecord", record)
                    }
                </div>
                @await Html.PartialAsync("Paged", Model.PageVM)
            </div>
            <div class="col-lg-3">
                @await Html.PartialAsync("RightNav")
            </div>
        </div>
    </div>
</section>






