@{
    ViewData["Title"] = "About Us";
}

<section class="section section-lg bg-gray-1 text-center">
    <div class="container container-wide">
        <div class="row row-90">
            <div class="col-lg-9" " style="text-align: left;">
                <h1>About Us</h1>
                <p>
                    About us page goes here...
                </p>
            </div>
            <div class="col-lg-3 layout-aside-wrap_extended">
                @await Html.PartialAsync("RightNav")
            </div>
        </div>
    </div>
</section>






