@model ON.Fragments.Content.ContentListRecord

<div class="col-md-6 col-xxl-4">
    <!-- Post Boxed-->
    <article class="post-boxed">
        <a class="post-boxed__image-wrap" href="/content/@(Model.ContentID)"><img class="post-boxed__image" src="/image/@Model.FeaturedImageAssetID" alt="" width="420" height="360" /></a>
        <div class="post-boxed__body">
            <div class="post-boxed__main">
                <div class="post-boxed__meta">
                    <ul class="post-boxed__tags">
                        <li><a href="#">Politics</a></li>
                    </ul>
                    <div class="post-boxed__info"><span>by</span><a class="post-boxed__user" href="#">@Model.Author</a></div>
                </div>
                <p class="post-boxed__title"><a href="/content/@(Model.ContentID)">@Model.Title</a></p>
                <p>@Model.Description</p>
            </div>
            <div class="post-boxed__footer">
                <time class="post-boxed__time" datetime="2018">@Model.PublishOnUTC.ToDateTime().ToLocalTime().ToString("yyyy-MM-dd h:mm tt")</time><a class="post-boxed__link" href="/content/@(Model.ContentID)">Read More</a>
            </div>
        </div>
    </article>
</div>