@model SubverseWeb.Models.CMS.HomeViewModel
@inject ON.Settings.SettingsClient settings;
@{
    ViewData["Title"] = "Home";
}

<section class="section section-lg bg-default text-center">
    <div class="container container-wide">
        <div class="row row-90 justify-content-xlg-between">
            <div class="col-lg-9 col-xxl-8">
                <div class="row row-30">
                    <div class="col-md-6">
                        @foreach (var record in Model.EvenRecords)
                        {
                            @await Html.PartialAsync("ContentRecord", record)
                        }
                    </div>
                    <div class="col-md-6">
                        @foreach (var record in Model.OddRecords)
                        {
                            @await Html.PartialAsync("ContentRecord", record)
                        }
                    </div>
                </div>

                @await Html.PartialAsync("Paged")
            </div>
            <div class="col-lg-3">
                @await Html.PartialAsync("RightNav")
            </div>
        </div>
    </div>
</section>
