@{
    ViewData["Title"] = "Staff";
}

<section class="section section-lg bg-gray-1 text-center">
    <div class="container container-wide">
        <div class="row row-90">
            <div class="col-lg-12" style="text-align: left;">
                <h1>Staff</h1>
                <p>
                    Staff page goes here...
                </p>
            </div>
        </div>
    </div>
</section>






