<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/s.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/s.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/s.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">


    <link rel="apple-touch-icon" href="/img/s.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

    <title>@ViewData["Title"] | SCNR</title>

    <link rel='stylesheet' id='wp-block-library-css' href='/css/dist/block-library/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='/css/dashicons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='parent-style-css' href='/themes/timcast/style.css' type='text/css' media='all' />
    <script type='text/javascript' src='/js/jquery/jquery.min.js' id='jquery-core-js'></script>
    <script type='text/javascript' src='/js/jquery/jquery-migrate.min.js' id='jquery-migrate-js'></script>
    <link rel="icon" href="/img/s.png" sizes="32x32" />
    <link rel="icon" href="/img/s.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/img/s.png" />
    <meta name="msapplication-TileImage" content="/img/s.png" />

    <!-- End Google Tag Manager -->
    @await RenderSectionAsync("Head", required: false)
</head>


<body style=" opacity:0" class="t-bg:grey3  ">
    <div class="t-bg:blk">
        @await Component.InvokeAsync("TopNav")

        <div class="t-nav-spacer"></div>

        <main class="t-bg:wht">
            @RenderBody()

            @await Component.InvokeAsync("BottomNav")
        </main>
    </div>
    <script type='text/javascript' src='/js/dist/vendor/regenerator-runtime.min.js' id='regenerator-runtime-js'></script>
    <script type='text/javascript' src='/js/dist/vendor/wp-polyfill.min.js' id='wp-polyfill-js'></script>

    <script src="/themes/timcast/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>