@inject ON.Authentication.ONUserHelper userHelper;

<!-- Page Footer-->
<footer class="section footer-creative">
    <div class="footer-creative__aside bg-gray-5">
        <div class="container container-wide">
            <div class="footer-creative__aside-inner">
                @await Html.PartialAsync("Socials")
                <!-- Rights-->
                <p>
                    <ul>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/terms">Terms of Use</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        @if (userHelper.IsLoggedIn)
                        {
                            <li><a href="/admin">Admin</a></li>
                        }
                        else
                        {
                            <li><a href="/login">Login</a></li>
                        }
                    </ul>
                </p>
                <p>
                    <ul>
                        <li><a href="/archive" style="color: #ffffff !important">Archive</a></li>
                        @for (int i = DateTime.Today.Year; i > 2020; i--)
                        {
                            <li><a href="/archive/@i">@i</a></li>
                        }
                    </ul>
                </p>
                <p>
                    <ul>
                        <li>Inquiries: <a href="mailto:admin@scnr.com" target="_blank">admin@scnr.com</a></li>
                    </ul>
                </p>
                <p class="rights">Subverse Inc. <span>&copy;&nbsp;</span><span class="copyright-year"></span> <span>All Rights Reserved.</span><span>&nbsp</span></p>
            </div>
        </div>
    </div>
</footer>
