@inject SCNRWeb.Services.ContentService contentService;

<div class="layout-aside">
    <div class="layout-aside__item">
        <h4 class="heading-bordered">Search</h4>
        <!-- RD Search-->
        <form class="rd-search rd-search_inline" action="/search" method="GET">
            <div class="form-wrap">
                <input class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off" />
            </div>
            <div class="form-button">
                <button class="rd-search-submit__inline" type="submit">search</button>
            </div>
        </form>
    </div>
    <div class="layout-aside__item">
        <h4 class="heading-bordered">Trending Topics</h4>
        <ul class="list-tags">
            @foreach (var tag in await contentService.GetRecentTags())
            {
                <li>
                    <a href="/tag/@tag">@tag</a>
                </li>
            }
        </ul>
    </div>
    <div class="layout-aside__item">
        <h4 class="heading-bordered">Categories</h4>
        <ul class="list-marked list-marked_light">
            @foreach (var cat in await contentService.GetRecentCategories())
            {
                <li>
                    <a href="/category/@cat.UrlStub">@cat.DisplayName</a>
                </li>
            }
        </ul>
        <br />
        <a href="/category/">View All &gt;&gt;&gt;</a>
    </div>
    <div class="layout-aside__item">
        <h4 class="heading-bordered">Archive</h4>
        <ul class="list-marked list-marked_light">
            @for (int i = DateTime.Today.Year; i > 2020; i--)
            {
                <li><a href="/archive/@i">@i</a></li>
            }
        </ul>
    </div>
</div>
