@model SCNRWeb.Models.CMS.TagViewModel;
@{
    ViewData["Title"] = Model.Tag;
}

<section class="section section-lg bg-gray-1 text-center">
    <div class="container container-wide">
        <div class="row row-90">
            <div class="col-lg-12">
                <h2>@Model.Tag</h2>
                <div class="row row-30 row-flex">
                    @foreach (var record in Model.ContentRecords)
                    {
                        @await Html.PartialAsync("ContentRecord", record)
                    }
                </div>
                @await Html.PartialAsync("Paged", Model.PageVM)
            </div>
        </div>
    </div>
</section>

