@using SCNRWeb.Models;
@model BottomNavModel

<footer class="t-pad:50pc:bot t-bg:grey3 t-pad:25pc:top:xs t-pad:50pc:top">


    <div class="  t-contain t-pos:cntr   ">

        <div class="t-grid:m:30pc ">


            <ul class="social-links t-txt:cntr:xs social-links t-txt:cntr:m">
                <li><a href="https://minds.com/subverse" target="_blank"><img src="/img/mindsBulbWhite.png" style="height: 18px;" alt="Minds logo" /></a></li>
                <li><a href="https://twitter.com/scnrnews" target="_blank"><img src="/img/x-logo-white.png" style="height: 16px;" alt="X logo" /></a></li>
                <li><a class="icon icon-xs icon-lighter fa fa-youtube" href="https://www.youtube.com/@@SCNRtv" target="_blank"></a></li>
                <li><a class="icon icon-xs icon-lighter fa fa-facebook" href="https://www.facebook.com/SCNRbot/" target="_blank"></a></li>
            </ul>
        </div>
        <div class="t-show:under:m t-pad:25pc:top:xs">
            <hr />
        </div>
        <div class=" footer-copyright t-txt:med t-txt:wht t-pad:0px t-fnt:1 t-grid:m:70pc t-txt:rt t-pad:top:m t-pad:50pc:top:l t-marg:bot">
            <div class="t-flex:m:valign:mid t-flex:m:align:rt  t-pad:25pc:top:xs">
                <ul class="t-menu t-txt:clr3 t-txt:cntr:s t-txt:cntr:xs t-txt:cntr:xs  t-txt:u t-txt:med t-marg:0px:bot t-marg:25px:rt:m t-marg:50pc:rt:l">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150320"><a href="https://network.scnr.com/#boost" target="_blank">Advertise</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150320"><a href="/privacy/">Privacy Policy</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-150321"><a href="/terms/">Terms of Service</a></li>
                    <li class="t-txt:wht">Copyright &copy; 2024 SCNR</li>
                </ul>

            </div>
        </div>
    </div>

</footer>
