@model SubverseWeb.Models.CMS.ManageViewModel
@using userHelper = ON.Authentication.ONUserHelper;
@{
    Layout = "_Manage";
    ViewData["Title"] = "Manage Articles";
}

<br />

<a href="/content/written/new" class="btn btn-primary">New Article</a>

<br />
<br />

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Publish Date</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var record in Model.Records)
    {
        <tr>
            <td>
                <a href="/content/@(record.ContentID)">@record.Title</a>
            </td>
            <td>@record.PublishOnUTC?.ToDateTime().ToLocalTime().ToString("yyyy-MM-dd h:mm tt")</td>
            <td>
                @if (record.PublishOnUTC != null)
                {
                    @if (userHelper.MyUser.CanPublish)
                    {
                        <a href="/content/@(record.ContentID)/unpublish" class="btn btn-primary" style="background-color: green;" onclick="return confirm('Are you sure you want to unpublish this?');">Published</a>
                    }
                    else
                    {
                        <span>Published</span>
                    }
                }
                else
                {
                    @if (userHelper.MyUser.CanPublish)
                    {
                        <a href="/content/@(record.ContentID)/publish" class="btn btn-primary">Not Published</a>
                    }
                    else
                    {
                        <span>Not Published</span>
                    }
                }
            </td>
        </tr>
    }
</table>

@await Html.PartialAsync("Paged", Model.PageVM)
