
<!-- Breadcrumbs-->
<section class="breadcrumbs-custom bg-image bg-image-dark" style="background-image: url(images/breadcrumbs-image-1-1920x350.jpg);">
    <div class="container">
        <h1 class="breadcrumbs-custom__title">Sitemap</h1>
        <ul class="breadcrumbs-custom__path">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Sitemap</li>
        </ul>
    </div>
</section>
