        <!-- RD Navbar-->
<header class="page-header section">
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-xl-device-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-fullwidth" data-xxl-device-layout="rd-navbar-fullwidth" data-xxl-layout="rd-navbar-fullwidth" data-stick-up-clone="false" data-md-stick-up-offset="130px" data-lg-stick-up-offset="157px" data-xl-stick-up-offset="157px" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true">
            @await Html.PartialAsync("LogoSection")
            @await Html.PartialAsync("TopNav")
        </nav>
    </div>
</header>
