<!-- Pagination-->
<ul class="pagination-custom">
    <li class="pagination-control disabled"><a href="#">Prev</a></li>
    <li class="active"><a href="#">01</a></li>
    <li><a href="#">02</a></li>
    <li><a href="#">03</a></li>
    <li class="pagination-spacer"></li>
    <li><a href="#">10</a></li>
    <li class="pagination-control"><a href="#">Next</a></li>
</ul>
