<ul class="list-icons list-inline-sm">
    <li><a href="https://minds.com/subverse" target="_blank"><img src="/img/mindsBulbWhite.png" style="height: 18px;" /></a></li>
    <li><a href="https://twitter.com/scnrnews" target="_blank"><img src="/img/x-logo-white.png" style="height: 16px;" /></a></li>
    <li><a class="icon icon-xs icon-lighter fa fa-youtube" href="https://www.youtube.com/@@SCNRtv" target="_blank"></a></li>
    <li><a class="icon icon-xs icon-lighter fa fa-facebook" href="https://www.facebook.com/SCNRbot/" target="_blank"></a></li>
</ul>
