<ul class="list-icons list-inline-sm">
    <li><a class="icon icon-xs icon-lighter fa fa-facebook" href="https://www.facebook.com/SCNRbot/" target="_blank"></a></li>
    <li><a class="icon icon-xs icon-lighter fa fa-twitter" href="https://twitter.com/scnrbot" target="_blank"></a></li>
    <li><a class="icon icon-xs icon-lighter fa fa-instagram" href="https://www.instagram.com/scnrgram/" target="_blank"></a></li>
    <li><a class="icon icon-xs icon-lighter fa fa-youtube" href="https://www.youtube.com/@@scnrbot" target="_blank"></a></li>
</ul>
