@inject ON.Authentication.ONUserHelper userHelper;

<div class="rd-navbar-main-outer">
    <div class="rd-navbar-main">
        <!-- RD Navbar Nav-->
        <div class="rd-navbar-nav-wrap">
            <!-- RD Navbar Search-->
            <div class="rd-navbar-search rd-navbar-search-toggled">
                <button class="rd-navbar-search-toggle" data-rd-navbar-toggle=".rd-navbar-search"></button>
                <form class="rd-search" action="/search" data-search-live="rd-search-results-live" method="GET">
                    <div class="form-wrap">
                        <input class="form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" />
                        <label class="form-label" for="rd-navbar-search-form-input">Search</label>
                    </div>
                    <button class="rd-navbar-search-submit" type="submit"></button>
                    <div class="rd-search-results-live" id="rd-search-results-live"></div>
                </form>
            </div>
            <!-- RD Navbar Nav-->
            <ul class="rd-navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about-us">About</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="/staff">Staff</a>
                        </li>
                        <li>
                            <a href="/terms">T&C's</a>
                        </li>
                        <li>
                            <a href="/privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/archive">Archive</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                        @for (int i = DateTime.Today.Year; i > 2020; i--)
                        {
                            <li><a href="/archive/@i">@i</a></li>
                        }
                    </ul>
                </li>
                @if (userHelper.IsLoggedIn)
                {
                    <li>
                        <a href="#">Manage</a>
                        <!-- RD Navbar Dropdown-->
                        <ul class="rd-navbar-dropdown">
                            <li><a href="/settings">My Profile</a></li>
                            @if (userHelper.MyUser.CanCreateContent)
                            {
                                <li>------------</li>
                                <li><a href="/content/manage">Manage Articles</a></li>
                            }
                            @if (userHelper.MyUser.IsAdminOrHigher)
                            {
                                <li>------------</li>
                                <li><a href="/auth/admin">Manage Users</a></li>
                                <li><a href="/settings/site">Site Settings</a></li>
                            }
                        </ul>
                    </li>

                }

            </ul>
        </div>
    </div>
</div>
