@model SubverseWeb.Models.CMS.ByMonthViewModel;
@{
    ViewData["Title"] = "News Archive - " + Model.Date.ToString("MMMM yyyy");
}

<section class="section section-lg bg-gray-1 text-center">
    <div class="container container-wide">
        <div class="row row-90">
            <div class="col-lg-12">
                <h2>News Archive - @Model.Date.ToString("MMMM yyyy")</h2>
                <div class="row row-30 row-flex">
                    @foreach (var record in Model.Records)
                    {
                        @await Html.PartialAsync("ContentRecord", record)
                    }
                </div>
                @await Html.PartialAsync("Paged", Model.PageVM)
            </div>
        </div>
    </div>
</section>

